/* General theme independent control css. */

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    --tchmi-motion-gap: 10px;
    --tchmi-motion-control-size: 21px;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Template {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 43px calc(100% - 43px);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Template tchmi-content-tabs {
    display: grid;
    grid-template-rows: 50px calc(100% - 50px);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Template tchmi-content-tabs tchmi-tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiTextblock,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiTextbox,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiDatagrid,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiNumericInput {
    position: relative;
    height: 100%;
}
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiDatagrid-template-cell {
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl
    .TcHmi_Controls_Beckhoff_TcHmiTextblock.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Textblock-Value
    .TcHmi_Controls_Beckhoff_TcHmiTextblock-template-text-container {
    width: calc(100% - 8px);
    height: calc(100% - 2px);
    margin: 2px 8px 0 0;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiCheckbox {
    position: relative;
    align-self: center;
    white-space: nowrap;
    justify-self: left;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiCheckbox-label {
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .TcHmi_Controls_Beckhoff_TcHmiCombobox {
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl label {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Header {
    position: relative;
    padding: var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Header > div {
    width: 33%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Dialog {
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-area: 2 / 2 / 3 / 3;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Online {
    position: relative;
    text-align: center;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Main-Information {
    display: grid;
    position: relative;
    height: 80%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Information {
    display: grid;
    position: relative;
    grid-area: 1 / 1 / 1 / 1;
    grid-template-columns:
        var(--tchmi-motion-gap) 2fr var(--tchmi-motion-gap) 2fr calc(var(--tchmi-motion-control-size) * 3)
        var(--tchmi-motion-gap);
    grid-template-rows:
        var(--tchmi-motion-gap) var(--tchmi-motion-control-size) var(--tchmi-motion-gap) var(
            --tchmi-motion-control-size
        )
        var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Information-Unit {
    display: flex;
    align-items: center;
    padding: 0 0 0 var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-General-Container-1,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-General-Container-2 {
    display: grid;
    grid-template-columns: var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap);
    grid-template-rows:
        var(--tchmi-motion-gap) var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) 4px var(
            --tchmi-motion-control-size
        )
        var(--tchmi-motion-control-size) var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-General-Container-1 {
    grid-area: 2 / 1 / 5 / 1;
    grid-template-rows:
        var(--tchmi-motion-gap) var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) 4px var(
            --tchmi-motion-control-size
        )
        var(--tchmi-motion-control-size) 4px var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) var(
            --tchmi-motion-gap
        );
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-General-Container-2 {
    grid-area: 5 / 1 / 5 / 1;
    grid-template-rows: var(--tchmi-motion-gap) var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) var(
            --tchmi-motion-gap
        );
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Set-Button-Container {
    display: grid;
    grid-template-columns: 2fr var(--tchmi-motion-gap) 1fr;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Enabling,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Status-phys,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Status-log {
    display: grid;
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Status-log {
    grid-area: 1 / 2 / 3 / 2;
    grid-template-columns: 7px 1fr 7px 1fr 7px 1fr 7px;
    grid-template-rows:
        var(--tchmi-motion-gap) var(--tchmi-motion-control-size) 4px 1fr var(--tchmi-motion-gap)
        1fr var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Status-phys {
    grid-area: 3 / 2 / 3 / 2;
    grid-template-columns: 7px 1fr 7px 1fr 7px 1fr 7px;
    grid-template-rows: var(--tchmi-motion-gap) var(--tchmi-motion-control-size) 4px 1fr var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Enabling {
    grid-area: 4 / 2 / 6 / 2;
    grid-template-columns: 7px 1fr 7px 1fr 7px 1fr 7px;
    grid-template-rows:
        var(--tchmi-motion-gap) var(--tchmi-motion-control-size) 4px 1fr var(--tchmi-motion-gap)
        1fr var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Enabling .TcHmi_Controls_Beckhoff_TcHmiButton {
    max-height: 50px;
    align-self: center;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Enabling .TcHmi_Controls_Beckhoff_TcHmiNumericInput {
    height: 24px;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Override {
    grid-area: 6 / 2 / 7 / 3;
    grid-template-columns: 1fr 4px 60px;
    display: grid;
    align-items: center;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Override .TcHmi_Controls_Beckhoff_TcHmiNumericInput {
    grid-area: 1 / 1 / 2 / 2;
    min-width: 26px;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Override > div:last-child {
    margin-left: var(--tchmi-motion-gap);
    flex-basis: 60%;
    flex-shrink: 0;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-DataScroll {
    overflow: auto;
    width: auto;
    height: 100%;
    margin-bottom: var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Buttons {
    display: grid;
    height: 15%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr var(--tchmi-motion-gap) 1fr 1fr;
    grid-gap: var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Minus-Minus {
    grid-area: 1 / 1 / 1 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Minus {
    grid-area: 1 / 2 / 1 / 2;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Plus {
    grid-area: 1 / 3 / 1 / 3;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Plus-Plus {
    grid-area: 1 / 4 / 1 / 4;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Target {
    grid-area: 1 / 5 / 1 / 5;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Stop {
    grid-area: 1 / 6 / 1 / 6;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Reset {
    grid-area: 1 / 8 / 1 / 8;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Home {
    grid-area: 1 / 9 / 1 / 9;
}

/* ------------- Wrapped styles --------------------- */
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Main-Information {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Information {
    grid-area: 1 / 1 / 1 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-General-Container-1 {
    grid-area: 2 / 1 / 2 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-General-Container-2 {
    grid-area: 3 / 1 / 3 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .Status-log {
    grid-area: 4 / 1 / 4 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .Status-phys {
    grid-area: 5 / 1 / 5 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .Enabling {
    grid-area: 6 / 1 / 6 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Buttons {
    grid-template-columns: 1fr 1fr 1fr var(--tchmi-motion-gap) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--tchmi-motion-gap);
    min-height: 80px;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Plus-Plus {
    grid-area: 1 / 2 / 1 / 2;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Plus {
    grid-area: 2 / 2 / 2 / 2;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Minus {
    grid-area: 2 / 1 / 2 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Minus-Minus {
    grid-area: 1 / 1 / 1 / 1;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Target {
    grid-area: 1 / 3 / 1 / 3;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Stop {
    grid-area: 2 / 3 / 2 / 3;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Reset {
    grid-area: 1 / 5 / 1 / 5;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Wrapped
    .TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Button-Home {
    grid-area: 2 / 5 / 2 / 5;
}

/* ------------------------ Functions ----------------- */

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Functions {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Extended-Start {
    display: grid;
    grid-area: 4 / 2 / 5 / 3;
    grid-template-columns: var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap);
    grid-template-rows: var(--tchmi-motion-gap) auto var(--tchmi-motion-gap) auto var(--tchmi-motion-gap);
    position: relative;
    height: 100%;
    width: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Extended-Start-Container {
    display: grid;
    grid-area: 2 / 1 / 2 / 1;
    position: relative;
    height: 100%;
    width: 100%;
    grid-template-columns: var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap);
    grid-template-rows:
        var(--tchmi-motion-gap) var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) 4px var(
            --tchmi-motion-control-size
        )
        var(--tchmi-motion-control-size) 4px var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) 4px var(
            --tchmi-motion-control-size
        )
        var(--tchmi-motion-control-size) var(--tchmi-motion-gap);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Extended-Start-Info-Container {
    display: grid;
    grid-area: 3 / 1 / 3 / 1;
    position: relative;
    height: 100%;
    width: 100%;
    grid-template-columns: var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap) 1fr var(--tchmi-motion-gap);
    grid-template-rows: var(--tchmi-motion-gap) var(--tchmi-motion-control-size) var(--tchmi-motion-control-size) var(
            --tchmi-motion-gap
        );
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Extended-Start-Buttons {
    display: grid;
    grid-area: 4 / 1 / 4 / 1;
    grid-template-columns: 1fr var(--tchmi-motion-gap) 1fr;
    grid-template-rows: auto;
    position: relative;
    height: 32px;
    width: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Extended-Start-Buttons .TcHmi_Controls_Beckhoff_TcHmiButton {
    min-height: 26px;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Optional-Input {
    display: grid;
    grid-template-columns: 26px var(--tchmi-motion-gap) 1fr;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Optional-Input.non-optional {
    display: block;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Optional-Input.non-optional
    .TcHmi_Controls_Beckhoff_TcHmiCheckbox {
    visibility: collapse;
}

/* ------------------------ Animation ----------------- */
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Animation {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-area: 2 / 2 / 5 / 3;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Container-Backwards {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: unset;
    animation-name: TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-AxisAnimation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-play-state: paused;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Container-Forwards {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: unset;
    animation-name: TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-AxisAnimation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Container-Backwards.Animation-Running,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Container-Forwards.Animation-Running {
    animation-play-state: running;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-1,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-2,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-3,
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-4 {
    position: absolute;
    width: 40%;
    height: 2000%;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-1 {
    transform: translateX(-600%) translateY(-40%) rotate(45deg);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-2 {
    transform: translateX(-300%) translateY(-40%) rotate(45deg);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-3 {
    transform: translateY(-40%) rotate(45deg);
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl .Animation-Part-4 {
    transform: translateX(300%) translateY(-40%) rotate(45deg);
}

@keyframes TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-AxisAnimation {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(120%);
    }
}
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Error {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 12px;
    width: 12px;
    background: var(--tchmi-error-color);
    border-radius: 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Error-Log-Container {
    margin-top: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-Error-Log-Container .TcHmi_Controls_Beckhoff_TcHmiButton {
    min-height: 26px;
}
/** Designer Banner */
.TcHmi_Controls_Beckhoff_TcHmiMotion_TcHmiMotionControl-designer-banner {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 60%;
    margin: 10%;
    padding: 80px 10% 10% 10%;
    font-size: 19px;
}
